<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Technique Template</title>
</head>

<body>
<section>
<h3>Title <em>(add the title here)</em></h3>
<h4>Explanation and who it helps:</h4>
<p><em>Eg : Ensure  that:</em></p>
<ul>
  <li><em><span dir="ltr">piont a</span></em></li>
  <li><em> piont b</em></li>
</ul>
<h4>&nbsp;</h4>
<h4>Examples: </h4>
<p><strong>Pass examples:</strong><br />
  <strong>Failure examples:</strong></p>
<h4>Tags </h4>
<p><strong>&nbsp;Use for tags: </strong><em>eg: Short-term memory, Reasoning , Language </em><br />
<strong>Avoid for tags: </strong></p>
<h4>Sources/research:</h4>
</section>
</body>
</html>
