p {
	margin: 2em;
	/* 增加段落底部的外边距 */
}

li {
	margin-bottom: 20px;
	/* 增加列表项底部的外边距 */
}

.btn {
	color: #034575;
	background: #b0cce088;
	height: 30px;
	width: auto;
	display: inline-block;

	white-space: nowrap;

}

.btnall {
	color: #034575;
	background: #b0cce088;
	height: 40px;
	width: auto;
	font-size: large;
	display: inline-block;

	white-space: nowrap;
}



.imagelist {
	margin-left: 4.5em;
}

.container {
	margin: 1.5% auto;
	width: 100%;
	background-color: #f0f0f0;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 10px;


}

.container .expand1 {
	display: flex;
	align-items: center;
	padding: 5px;
	justify-content: space-between;
}


.imagelist h3::before {
	display: inline-block;
	width: 0em;
	position: relative;
	left: -4.5em;
	float: left;
	margin-right: -3.5em;
	/* 
	float: left;
	margin-right: -2.5em;
	position: relative;
	left: -3.5em;
 */
}

#product-ownership h3::before {
	content: url(img/noun-product-manager-4520957\ 17.svg);
	width: 40px;
	height: inherit;
}

#summary-find h3::before {
	content: url(img/find.svg);
}

#summary-clear-content h3::before {
	content: url(img/clear-text.svg);
}

#summary-mistakes h3::before {
	content: url(img/glass.svg);
}

#summary-focus h3::before {
	content: url(img/light.svg);
}

#summary-memory h3::before {
	content: url(img/memory.svg);
}

#summary-support h3::before {
	content: url(img/support.svg);
}

#summary-personalization h3::before {
	content: url(img/tools.svg);
}

#summary-test h3::before {
	content: url(img/users.svg);
}


body {
	line-height: 2;
	font-size: 1.2em;
	font: Lexend;

}



.iconandhead {
	display: flex;
	align-items: center;
	padding: 10px;
	justify-content: left;
}



.collapse {
	display: none;
	/* hide the collapsible section */
}

.expand {
	display: block;
}

.inlineBtn {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
}


.icon {
	width: 80px;
	height: 80px;
	margin-right: 20px;

}

.self-link {
	margin-left: 1em;
}

.container p {
	margin-top: 0;

	margin-bottom: 5px;

}

.container h3,
.container h4 {
	margin-top: 10px;

	margin-bottom: 5px;

}

.container h5 {
	font-style: normal;
	font-weight: bold;
	margin-top: 0px;

	margin-bottom: 20px;

}