.p-quotes {
	margin-bottom: 35px;
}
.p-quotes ul {
	list-style-type: none;
}
.p-quotes li > p span {
	display: table-cell;
}
.p-issue {
	font-weight: bold;
	display: table-cell;
	width: 6em;
}
.btn {
	color: #034575;
	background: transparent;
	text-decoration: underline;
}

.objective h3::before {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: .5em;
	vertical-align: text-top;	
}
#user_needs section.objective:nth-of-type(1) h3::before {
	content: url(img/StartHere.svg);
}
#user_needs section.objective:nth-of-type(2) h3::before {
	content: url(img/find.svg);
}
#user_needs section.objective:nth-of-type(3) h3::before {
	content: url(img/clear-text.svg);
}
#user_needs section.objective:nth-of-type(4) h3::before {
	content: url(img/glass.svg);
}
#user_needs section.objective:nth-of-type(5) h3::before {
	content: url(img/light.svg);
}
#user_needs section.objective:nth-of-type(6) h3::before {
	content: url(img/memory.svg);
}
#user_needs section.objective:nth-of-type(7) h3::before {
	content: url(img/support.svg);
}
#user_needs section.objective:nth-of-type(8) h3::before {
	content: url(img/users.svg);
}

.use::before, .avoid::before, .wtd h5::before {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: .5em;
	vertical-align: text-bottom;
}
.use::before {
	content: url(img/tick.gif);
}
.avoid::before {
	content: url(img/x.JPG);
}
.wtd h5::before {
	content: url(img/RightArrow.svg);
}
.see-also {
	margin: 1em 0;
}
.see-also ul {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}
.see-also li {
	display: inline;
	list-style: none;
	padding-left: .3em;
}
.imagelist {
	margin-left: 4.5em;
}
.imagelist h3 {
	color: black;
	display: run-in;
	font-size: 1em;
	font-weight: bold;
	padding-right: 0.3em;
}
.imagelist h3::before {
	display: inline-block;
	width: 3em;
	position: relative;
	left: -4.5em;
	float: left;
	margin-right: -3.5em;
/* 
	float: left;
	margin-right: -2.5em;
	position: relative;
	left: -3.5em;
 */
}
#summary-understand h3::before {
	content: url(img/StartHere.svg);
}
#summary-find h3::before {
	content: url(img/find.svg);
}
#summary-clear-content h3::before {
	content: url(img/clear-text.svg);
}
#summary-mistakes h3::before {
	content: url(img/glass.svg);
}
#summary-focus h3::before {
	content: url(img/light.svg);
}
#summary-memory h3::before {
	content: url(img/memory.svg);
}
#summary-support h3::before {
	content: url(img/support.svg);
}
#summary-personalization h3::before {
	content: url(img/tools.svg);
}
#summary-test h3::before {
	content: url(img/users.svg);
}
